<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="TransportDB"
       connectionString="Data Source=DESKTOP-O3T5UU3\SQLEXPRESS;
                         Initial Catalog=USER;
                         Integrated Security=True;
                         TrustServerCertificate=True;
                         Encrypt=True;
                         MultipleActiveResultSets=True;"
       providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>