<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="TransportDB" connectionString="Data Source=DESKTOP-DSL95HN;Integrated Security=True;Persist Security Info=False;Pooling=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;"
   providerName="System.Data.SqlClient" />
  <!--<add name="Transport_Management.Properties.Settings.TransportDBConnectionString"
   connectionString="Data Source=DESKTOP-O3T5UU3\SQLEXPRESS;Initial Catalog=TransportDB;Integrated Security=True;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="Transport_Management.Properties.Settings.TransportDBConnectionString1"
   connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\TransportDB.mdf;Integrated Security=True;Connect Timeout=30;Encrypt=True"
   providerName="System.Data.SqlClient" />-->
 </connectionStrings>
</configuration>